:root {
    --color: 0, 0%;
    --sslBlue: #070b51;
	  --sslBlueL: color-mix(in srgb, var(--sslBlue) 95%, white);
	  --sslBlueD: color-mix(in srgb, var(--sslBlue) 95%, black);
    --sslGold: #bd9523;
    --lighterText: hsl(var(--color), 100%);
    --darkerText: hsl(var(--color), 0%);
    --key: #276BB0;
    --important: #60c689;
    --topBackground: hsl(var(--color), 10%);
    --middleBackground: hsl(var(--color), 20%);
    --bottomBackground: hsl(var(--color), 30%);
    --borderColor: hsl(var(--color), 25%);
}

/* General styles */
body {
  font-family: 'Gotham SSm A', 'Gotham SSm B', Helvetica, sans-serif;
  color: white;
}

h1, h2, h3, h4, h5 {
  font-family: 'Gotham SSm A', 'Gotham SSm B', Helvetica, sans-serif;
  font-weight: 800; 
  font-style: normal;
  color: white;
}

.keyAttribute {
    color: var(--key);
    font-weight: 600;
}

.importantAttribute {
    color: var(--important);
    font-weight: 600;
}

/* Display grid for the box container with 4 columns   */
#standingsCup-boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#standingsCup-boxes > div:nth-child(-n+3),
#standingsCup-boxes > div:nth-child(n+7):nth-child(-n+9),
#standingsCup-boxes > div:nth-child(n+13):nth-child(-n+15),
#standingsCup-boxes > div:nth-child(n+19):nth-child(-n+21){
  margin-bottom: -15px;
}

.small-box.bg-orange { 
  background-color: #e08b46 !important; 
  color: #000000 !important; 
}

.cup-info-div {
  display: inline-block;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.scores {
  font-size: 1.2em;
  width: 20px;
  padding: 0px 15%;
  float: right;
}

.scores:nth-child(odd) {
  border-right: 1px solid;
}

.scores:nth-child(even) {
  border-left: 1px solid;
}

.shiny-split-layout {
  display: flex; /* Use Flexbox */
}

.shiny-split-layout > div {
  display: flex; /* Nested Flexbox */
  flex-direction: column; /* Stack children vertically */
}


.attributeCost {
  justify-content: center; /* Center content horizontally */
}

.attributeInput input {
  border-radius: 5px;
  border: 1px solid black;
  flex: 1; /* Take up all available space */
}

/* Hover information for text */
/* Updated CSS */
.hovertext {
    position: relative; /* Make sure the parent container has relative positioning */
}

.hovertext:before {
    content: attr(data_hover);
    visibility: hidden;
    opacity: 0;
    min-width: 100px;
    max-width: 300px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    transition: opacity 0.3s ease-in-out;

    position: absolute;
    z-index: 999;
    /* Center on top of the element */
    bottom: calc(100% + 5px);  
    left: 50%; 
    transform: translate(-50%);
}

.hovertext:hover:before {
    opacity: 1;
    visibility: visible;
}

/* splits information into multiple columns */
.multicol {
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;
}


.shiny-split-layout > div:has(> div.attribute) {
  overflow: visible;
}

/* Makes result boxes overflow and creates a scroller */
.results {
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
}

.results > div {
  min-width: 140px;
  padding-right: 5px;
  padding-left: 5px;
}

.results .box-header,
.results .box-body {
  text-align: center;
}

/* Buttons in dropdowns take the entire width */

.tippy-popper button{
  width: -webkit-fill-available;
}

/* Custom Tippy theme */

.tippy-tooltip.ssl-theme {
  background-color: white;
  border: 1px solid black;
  color: black;
}

.tippy-popper[x-placement^="bottom"] .ssl-theme .tippy-arrow {
  border-bottom: 8px solid white;
}

.tippy-popper[x-placement^="top"] .ssl-theme .tippy-arrow {
  border-top: 8px solid white;
}

.tippy-tooltip.ssl-theme .tippy-arrow {
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

.tippy-tooltip.ssl-theme .tippy-backdrop {
  background-color: white;
}

.tippy-tooltip.ssl-theme .tippy-content {
  position: relative;
  padding: 5px 9px;
  z-index: 1;
  font-size: 14px;
}

/* Header navbar with logo */
.main-header {
  max-height: 200px;
}
.main-header .logo {
  padding-top: 5px;
  padding-right: 30px;
  height: 80px; 
}


/* Fixes so that the sidebar menus are visible from the first item regardless of the split of the nav-bar */
.main-sidebar {
  padding-top: 100px;
}

@media (max-width: 767px) {
  .main-sidebar {
    padding-top: 18vh;
  }  
}



.content-wrapper {
    min-height: 100%;
    background-color: var(--middleBackground);
    z-index: 800;
}

.skin-blue .main-header .navbar {
    background-color: var(--sslBlueD);
    background-image: url(https://forum.simulationsoccer.com/images/forumBanners/k7qNGB5.jpg);
}

.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
    background-color: var(--topBackground);
    /*background-image: url(https://i.imgur.com/k7qNGB5.jpg);*/
    border-right: 2px solid var(--sslGold);
}

.skin-blue .main-header .logo {
    background-color: var(--topBackground);
    color: #fff;
    border-bottom: 0 solid rgba(0, 0, 0, 0);
    background-image: url(https://forum.simulationsoccer.com/images/forumBanners/k7qNGB5.jpg);
    border-right: 2px solid var(--sslGold);
}

.skin-blue .sidebar-menu .treeview-menu>li.active>a, .skin-blue .sidebar-menu .treeview-menu>li>a:hover {
    color: var(--sslBlueD);
}

.skin-blue .sidebar-menu>li>.treeview-menu {
    margin: 0px;
    background: var(--sslGold);
    }
    
.skin-blue .sidebar-menu>li:hover>a, .skin-blue .sidebar-menu>li.active>a, .skin-blue .sidebar-menu>li.menu-open>a {
    color: #fff;
    background: var(--sslGold);
    background-image: url(https://forum.simulationsoccer.com/images/forumBanners/gVNA3OP.jpg);
}

.skin-blue .sidebar-menu>li.active>a {
    border: none;
}

.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background-color: var(--sslGold);
}

.skin-blue .sidebar-menu>li.active>a,.skin-blue .sidebar-menu>li:hover>a {
    color: #fff;
    background: var(--bottomBackground);
    border-left-color: var(--sslGold); 
    
}

.content {
    min-height: 1000px;
    padding: 15px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: var(--middleBackground);
    background-image: url(https://forum.simulationsoccer.com/images/forumBanners/9BuU3Op.jpeg);
}

.box-header {
    color: var(--sslGold);
    display: block;
    padding: 10px;
    position: relative;
    background-image: url(https://forum.simulationsoccer.com/images/forumBanners/k7qNGB5.jpg);
    border: 2px solid var(--sslGold);
    text-align: center;
}

.box-header .box-title {
  display: inline-block;
  font-size: 18px;
  margin: 0;
  line-height: 1;
  width: 100%;
}

.box.box-primary {
    border-top-color: var(--sslGold);
}


.box-footer {
    border-top-left-radius: 0;
   border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid var(--sslGold);
    padding: 10px;
    background-color: var(--sslGold);
    color: #ffffff;
}

.box {
    position: relative;
    border-radius: 3px;
    background: #444444;
    border-top: 1px solid var(--sslGold);
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.results .box-header, .results .box-body {
    text-align: center;
    border: 2px solid var(--sslGold);
    color: #ffffff;
    background-color: var(--middleBackground);
}

.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
    padding: 10px;
    border: 2px solid var(--sslGold);
}

.results {
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    scrollbar-color: #666666 #999999;
}

.rt-th, .rt-th-inner, .rt-pagination {
    overflow: visible !important;
    background-color: var(--middleBackground);
    Color: var(--sslGold);
}

.rt-td-inner {
  text-wrap: nowrap;
}

.rt-sort-header {
  text-wrap: pretty;
}

.rt-text-content {
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.Reactable {
  background-color: var(--topBackground);
}

.Reactable .rt-table {
    background: inherit;
    border: 1px solid var(--sslGold);
    scrollbar-color: #666666 #999999;
}

.Reactable .rt-tbody, 
.Reactable .rt-tfoot, 
.Reactable .rt-thead {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    background-color: var(--middleBackground);
}

.rt-th {
    border-bottom: 2px solid var(--sslGold);
    border-left-color: rgba(0,0,0,.05);
    border-left-width: 1px
}

.rt-td {
    border-left-color: rgba(0,0,0,.05);
    border-left-width: 1px;
    border-top: 1px solid var(--sslGold)
}

.rt-search {
  margin: 10px 20px 8px;
  width: 100%;
  width: -moz-available;          /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  width: fill-available;
  background-color: var(--bottomBackground);
  color: var(--lighterText);
}


.stickyReactableColumn, .stickyReactableHeader {
  position: sticky !important; 
  left: 0;
  background: var(--topBackground);
  z-index: 1;
}

.leaderTable {
  padding-top: 20px
}


/* Navtabs */
.nav-tabs {
  border-bottom: 1px solid var(--sslGold);
}

.nav-tabs>li.active>a {
  background-color: var(--topBackground);
  color: var(--lighterText);
}

.nav-tabs>li>a {
  color: var(--lighterText);
}


.attribute, .attributeCost {
    background-color: var(--middleBackground);
    border: 1px solid grey;
    border-radius: 5px;
    padding: 4px;
    flex: 1; /* Distribute remaining space evenly */
    display: flex; /* Use Flexbox */
    align-items: center; /* Align items vertically */
}

.frozen-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  background-color: var(--topBackground);
    padding: 10px 20% 30px 30%;
    border-top: 1px solid var(--sslGold);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap; 
    z-index: 10;
}


.rank-list-item {
  color: var(--darkerText);
}

.modal-content {
  background-color: var(--bottomBackground);
  border: var(--topBackground);
  border-radius: 4px;
}

.verifyBox {
  background: var(--lighterText);
  color: var(--darkerText);
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Target the table inside the .verifyBox class */
.verifyBox .ReactTable {
  background-color: #f9f9f9; /* Light background for the table */
  border: 1px solid #ddd; /* Light border around the table */
  border-radius: 5px; /* Optional rounded corners */
  overflow: hidden; /* Ensure no overflow */
}

/* Style for the table header */
.verifyBox .rt-th {
  text-transform: uppercase; /* Make header text uppercase */
  background-color: #e0e0e0; /* Slightly darker background for header */
  color: #333; /* Dark text color for contrast */
  font-weight: bold; /* Bold font for header */
  padding: 10px; /* Padding inside header cells */
}

.verifyBox .rt-th-inner {
  background-color: inherit;
}

/* Style for the table rows (cells) */
.verifyBox .rt-td {
  color: #333; /* Dark text color for visibility */
  padding: 10px; /* Padding inside cells */
  border-bottom: 1px solid #ddd; /* Light border between rows */
  background-color: #ffffff; /* Light background for table rows */
}

/* Optional: Style the last row border */
.verifyBox .rt-tr-group:last-child .rt-td {
  border-bottom: none; /* Remove the border from the last row */
}

/* Optional: Add hover effect for rows */
.verifyBox .rt-tr:hover .rt-td {
  background-color: #f0f0f0; /* Slightly darker background on hover */
}

.stickyFooter {
  position:fixed;
  bottom:0;
  right:90%;
  left:0;
  padding:10px;
  box-sizing:border-box;
}

.navbarHead {
  display: flex;
  /* padding: 20px 0px;*/
  flex-direction: row;
}

.navbarHead button {
    color: inherit;
    background: inherit;
    border: none;
    font-family: 'Gotham SSm A', 'Gotham SSm B', Helvetica, sans-serif;
    font-weight: 800;
    font-style: normal;
    margin: 0px 20px;
}

/* Index Tables */
.tableClubName {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: end;
}

.leaderTable .tableClubName {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.tableClubName span {
  padding-left: 10px;
  text-wrap: pretty;
}

/* Edit Schedule selects */
.smallSelect .selectize-input{
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  text-indent: 1px;
}

.smallSelect .selectize-input::after{
  display: none !important;
}

.selectize-dropdown-content {
  text-wrap: nowrap;
}


/* CSS styles for player and user statuses */
.Active {
  color: #66B38C;
}

.Inactive, .Retiring {
  color: #D96F68;
}

.Retired {
  color: #F5D17E;
}

.highcharts-background{
  fill: #efefef;
}

.centered-flex-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-col-wrapper {
  display: flex;
  flex-direction: column;
}

.flex-row-wrapper {
  display: flex;
  flex-direction: row;
}

.flex-col-wrapper .shiny-input-container,
.flex-row-wrapper .shiny-input-container {
  margin-bottom: 0;
}

.truncated-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.homemade-user-fab {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 18px;
  margin-right: 24px;
  height: 45px;
  width: 45px;
  background: white;
  border-radius: 99999999px;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-box-shadow: 0 0 5px white;
  -webkit-box-shadow: 0 0 5px white;
  box-shadow: 0 0 5px white;
}

.homemade-user-fab:hover .fab-action-buttons {
  opacity: 1;
  visibility: visible;
}

.fab-action-buttons {
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms;
  position: absolute;
  top: 30px;
  right: 0;
  padding-top: 20px;
}

.fab-action-buttons div {
  -moz-box-shadow: 0 0 30px black;
  -webkit-box-shadow: 0 0 30px black;
  box-shadow: 0 0 30px black;
}

.fab-action-buttons button {
  width: 120px;
  color: black;
}

.fab-action-buttons button:hover {
  background: #4b8dad;
  border-color: #070B51;
  color: white;
}

.primary-button {
  background-color: #4b8dad;
  border-color: #070B51;
  color: white;
}

.career-record-button {
  width: 300px;
  min-height: 72px;
  background: #e5e5e5;
  text-align: left;
  padding: 0 8px;
  border-radius: 8px;
  color: black;
  margin-bottom: 8px;
  border-color: #BD9523;

  @media (max-width: 767px) {
    width: 100%;
  }
}

.hide-in-mobile {
  @media (max-width: 767px) {
    display: none;
  }
}
