# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
#
# See https://github.com/r-lib/actions/tree/master/examples#readme for
# additional example workflows available for the R community.

on:
#   workflow_dispatch:
    #inputs:
    #  logLevel:
    #    description: 'Log level'
    #    required: true
    #    default: 'warning'
    #    type: choice
    #    options:
    #    - info
    #    - warning
    #    - debug
    #  tags:
  #      description: 'Test scenario tags'
#        required: false
        #type: boolean
   schedule:
         - cron: "0 0/8 * * *"
  
   workflow_dispatch:

jobs:
  generate-data:
    runs-on: ${{ matrix.config.os }}

    name: ${{ matrix.config.os }} 

    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: ubuntu-latest}

    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v3
      
      - run: eval `ssh-agent`
      
      - run: mkdir -p ~/.ssh
      
      - run: chmod 700 ~/.ssh
      
      - name: Setup SSH Passphrase and Directory
        env: 
            SSH_PASSPHRASE: ${{ secrets.SSH_PASSPHRASE }}
        run: echo 'echo \$SSH_PASSPHRASE' > ~/.ssh/tmp && chmod 700 ~/.ssh/tmp
            
      - name: Setup SSH Keys
        env:
            SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
        run: echo "$SSH_PRIVATE_KEY" | tr -d '\r' | DISPLAY=None SSH_ASKPASS=~/.ssh/tmp ssh-add -

      - name: Upload file to Digital Ocean
        run: rsync -avz "ssh -p 1022 -i ~/.ssh/tmp -o StrictHostKeyChecking=no" /database/SSL_Database.db ${{ secrets.SSH_DO_USER }}@${{ secrets.SSH_DO_HOST }}:/var/plumber/database/
       
 

